
.row{
    width: 90%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 50px 0;
}

.row .card{
    width: 100%;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;
    color: #000;
    position: relative;
    left: 10vh;
    border: rgba(104, 104, 104, 0.49);
    box-shadow: 0 0 1px 0.1mm rgba(105, 105, 105, 0.56);
}
.row .card:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px 0.1mm rgba(105, 105, 105, 0.56);
}

.row .card .top{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.row .card .top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.row .card:hover .top img{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.card h3{
    font-size: 23px;
    line-height: 32px;
    padding-bottom: 5px;
}
.card p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}
.card a.btn1{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    background: #7ee0b2;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 25px;
    user-select: none;
}
.card a.btn1 i{
    margin-left: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.card a.btn1:hover i{
    margin-left: 20px;
}

.card:nth-child(2){
    flex-direction: column-reverse;
}
.card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(178, 229, 200, 0.8);
    opacity: 0.5;
    z-index: -1;
    clip-path: circle(50% at 0 100%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.card:hover::before{
    clip-path: circle(150% at 0 100%);
    background: rgba(178, 229, 200, 0.8);
    opacity: 1;
}


/* Responsive ======================== */

@media(max-width: 991px){
    .row{
        grid-template-columns: 1fr;
    }
    .row .card{
        align-items: center;
        flex-direction: row;
    }
    .card:nth-child(2){
        flex-direction: row-reverse;
    }
    .row .card .top{
        height: 300px;
    }
}
@media(max-width: 768px){
    .row .card{
        flex-direction: column;
        left: 7vh;
    }
    .card:nth-child(2){
        flex-direction: column;
    }
}
@media(max-width: 480px){
    .row .card{
        flex-direction: column;
        left: 3vh;
    }
}